#app {
  background-image: url(https://res.zisu.dev/img/i.loli.net/f=auto/2021/06/19/kjE65AaoTegrcPD.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.app-header {
  backdrop-filter: blur(5px);
  background-color: #ffffffc0;
}

.card {
  @apply p-4;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  border-radius: 4px;
  backdrop-filter: blur(5px);
  background-color: #ffffffc0;
}

.card-header {
  @apply text-3xl mb-4 border-b-2 border-gray-300;
}

.result-table {
  @apply w-full text-center;
  table-layout: fixed;
}

.result-table th {
  @apply text-xs;
}

.result-table th,
.result-table td {
  border: 1px solid black;
}

.result-table td:nth-of-type(1),
.result-table th:nth-of-type(1) {
  width: 3rem;
}
.result-table td:nth-of-type(2),
.result-table th:nth-of-type(2) {
  width: 6rem;
}
.result-table td:nth-of-type(3),
.result-table th:nth-of-type(3) {
  width: 2.5rem;
}
.result-table td:nth-of-type(5),
.result-table th:nth-of-type(5) {
  width: 1rem;
}
.result-table td:nth-of-type(6),
.result-table th:nth-of-type(6),
.result-table td:nth-of-type(7),
.result-table th:nth-of-type(7),
.result-table td:nth-of-type(8),
.result-table th:nth-of-type(8),
.result-table td:nth-of-type(9),
.result-table th:nth-of-type(9),
.result-table td:nth-of-type(11),
.result-table th:nth-of-type(11) {
  width: 3rem;
}

.result-table td:nth-of-type(13),
.result-table th:nth-of-type(13) {
  width: 2rem;
}

.btn {
  @apply font-bold py-1 px-4 rounded;
  cursor: pointer;
  transition: 0.1s;
}

.btn-dense {
  @apply p-0;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-red {
  @apply bg-red-500 text-white;
}
.btn-red:hover {
  @apply bg-red-700;
}

.btn-green {
  @apply bg-green-500 text-white;
}
.btn-green:hover {
  @apply bg-green-700;
}
